%h2 Claim #{@badge.name}

= image_tag @badge.image.url(:medium)

%h3 Description:

#description= @badge.description

= form_tag claim_submission_path do
  
  #name
    = label :submission, :name, 'Name'
    = text_field :submission, :name  
  #email
    = label :submission, :email, 'Email'
    = text_field :submission, :email
  #badge 
    = label :submission, :badge, 'Badge'
    = select :submission, :badge, [@badge.name]

  = submit_tag 'Claim'
