%h1 Badges Display

- @badges.each do |badge|
  %h3= link_to "#{badge.name}", badge_path(badge)
  = image_tag "badges/#{badge.image}"
  - if (badge.claimcode != "")
    =render :partial => 'claim_code'

#admin
  = link_to 'View All Badges (Admin Only)', all_badges_path
  %br= link_to 'View All Submissions (Admin Only)', submissions_path
