%h1 All Badges

= form_tag badges_path, :method => :get, id: "claim_form" do
  
  = text_field :claim, :code

  = submit_tag 'Enter Claim Code', id: "claim_code_submit"

- @badges.each do |badge|
  %h3= link_to "#{badge.name}", badge_path(badge)
  = image_tag "badges/#{badge.image}"
  %p#description= badge.description
