%h2 Details about #{@badge.name}

= image_tag @badge.image.url(:medium)

%h3 Description:

#description= @badge.description

- if @badge.submissions
  = render :partial => 'badge_earners'

- if @badge.claimcode == "" || !@badge.claimcode
  = button_to 'Make a submission', submit_badge_path(@badge), :method => :get
= button_to 'Edit badge (Admin Only)', edit_badge_path(@badge), :method => :get
= button_to 'Delete (Admin Only)', badge_path(@badge), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to main page', badges_path
