%h2 Details about #{@badge.name}

= image_tag "badges/#{@badge.image}"

%h3 Description:

%p#description= @badge.description

= button_to 'Edit badge', edit_badge_path(@badge), :method => :get
= button_to 'Delete', badge_path(@badge), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to badge list', all_badges_path
