%h1 All Submissions

= form_tag submissions_path, :method => :get, id: "badges_form" do
  Include:
  - @all_badges.each do |badge|
    = badge
    = check_box_tag "badges[#{badge}]", 1, @checked.include?(badge)
  = submit_tag 'Refresh', id: "badges_submit"

%table#submissions
  %thead
    %tr
      %th{:class => @name_class}= link_to "Name", submissions_path(:sort => "name"), id: "name_header"
      %th Email
      %th{:class => @badge_class}= link_to "Badge", submissions_path(:sort => "badge"), id: "badge_header"
      %th{:class => @date_class}= link_to "Date", submissions_path(:sort => "date"), id: "date_header"
      %th{:class => @status_class}= link_to "Status", submissions_path(:sort => "status"), id: "status_header"
      %th More Info
      %th Push
  %tbody
    - @submissions.each do |submission|
      %tr
        %td= submission.name
        %td= submission.email 
        %td= submission.badge
        %td= submission.date.strftime("%B %d, %Y")
        %td= submission.status
        %td= link_to "More about #{submission.name}'s submission", submission_path(submission)
        %td= link_to "Push", push_submission_path(submission)
