%h2 Details about #{@submission.name}'s submission

%ul#details
  %li
    Badge:
    = @submission.badge
  %li
    Date:
    = @submission.date.strftime("%B %d, %Y")
  %li
    Status:
    = @submission.status

%h3 Description:

%p#description= @submission.description

= button_to 'Approve', approve_submission_path, :method => :get, :confirm => 'Are you sure?'
= button_to 'Reject', reject_submission_path, :method => :get, :confirm => 'Are you sure?'
= button_to 'Delete', submission_path(@submission), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to submission list', submissions_path
