!!! 5
%html
  %head
    %title NWP Badges
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://beta.openbadges.org/issuer.js'
    = csrf_meta_tags

  %body
    %h1.title= link_to 'NWP Badges', badges_path
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]
      = yield
